boto
psycopg2>=2.6.1
PyYAML
requests
six >= 1.7
kazoo==2.2.1
python-etcd==0.4.3
python-consul==0.6.1
click>=4.1
prettytable>=0.7
tzlocal
python-dateutil
git+https://github.com/CyberDem0n/PySyncObj.git@dea45067380f297320ef1d574199cc2c93461dac#egg=pysyncobj
